In [1]:
import os
import pandas as pd
import datetime as dt

# to print all the outputs in the cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import helpers

In [2]:
source_dir = './data/processed/'

# files to download:
file_users = 'users_processed.csv'

In [3]:
df = pd.read_csv(os.path.join(source_dir, file_users), usecols = ['session_start_ts'], parse_dates=['session_start_ts'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373880 entries, 0 to 373879
Data columns (total 1 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   session_start_ts  373880 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.9 MB

In [4]:
start_date = df['session_start_ts'].dt.date.min()
end_date = df['session_start_ts'].dt.date.max()

In [5]:
df = helpers.create_calendar_table(start_date, end_date)
df

,date,week_num,week_start_monday,week_end,year_week,week_range,weekday,abbreviated_weekday,month_start,month_num,month_year,quarter_number,quarter_text,year_start,year
0,2017-06-01,22,2017-05-29,2017-06-04,"2017, Week 22","May 29, 2017 to Jun 04, 2017 (Week 22)",Thursday,Thu,2017-06-01,6,June 2017,2,Q2 2017,2017-01-01,2017
1,2017-06-02,22,2017-05-29,2017-06-04,"2017, Week 22","May 29, 2017 to Jun 04, 2017 (Week 22)",Friday,Fri,2017-06-01,6,June 2017,2,Q2 2017,2017-01-01,2017
2,2017-06-03,22,2017-05-29,2017-06-04,"2017, Week 22","May 29, 2017 to Jun 04, 2017 (Week 22)",Saturday,Sat,2017-06-01,6,June 2017,2,Q2 2017,2017-01-01,2017
3,2017-06-04,22,2017-05-29,2017-06-04,"2017, Week 22","May 29, 2017 to Jun 04, 2017 (Week 22)",Sunday,Sun,2017-06-01,6,June 2017,2,Q2 2017,2017-01-01,2017
4,2017-06-05,23,2017-06-05,2017-06-11,"2017, Week 23","Jun 05, 2017 to Jun 11, 2017 (Week 23)",Monday,Mon,2017-06-01,6,June 2017,2,Q2 2017,2017-01-01,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-05-27,21,2018-05-21,2018-05-27,"2018, Week 21","May 21, 2018 to May 27, 2018 (Week 21)",Sunday,Sun,2018-05-01,5,May 2018,2,Q2 2018,2018-01-01,2018
361,2018-05-28,22,2018-05-28,2018-06-03,"2018, Week 22","May 28, 2018 to Jun 03, 2018 (Week 22)",Monday,Mon,2018-05-01,5,May 2018,2,Q2 2018,2018-01-01,2018
362,2018-05-29,22,2018-05-28,2018-06-03,"2018, Week 22","May 28, 2018 to Jun 03, 2018 (Week 22)",Tuesday,Tue,2018-05-01,5,May 2018,2,Q2 2018,2018-01-01,2018
363,2018-05-30,22,2018-05-28,2018-06-03,"2018, Week 22","May 28, 2018 to Jun 03, 2018 (Week 22)",Wednesday,Wed,2018-05-01,5,May 2018,2,Q2 2018,2018-01-01,2018
364,2018-05-31,22,2018-05-28,2018-06-03,"2018, Week 22","May 28, 2018 to Jun 03, 2018 (Week 22)",Thursday,Thu,2018-05-01,5,May 2018,2,Q2 2018,2018-01-01,2018

In [6]:
path_to_save = './data/processed/'
file_calendar_tbl = 'calendar_tbl.csv'

In [7]:
df.to_csv(os.path.join(path_to_save, file_calendar_tbl), sep=',', encoding='utf-8', index=False)